<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mgckaled.dispositivoesensores">
  <!-- PERMISSÃO PARA EXECUTAR TODAS AS COMUNICAÇÕES DO BLUETOOTH -->
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <!-- PERMISSÃO PARA INICIAR A DESCOBERTA DE DISPOSITIVOS OU MANIPULAR CONFIGURAÇÕES DO BLUETOOTH -->
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <!-- PERMISSÃO PARA COLETAR INFORMAÇÕES SOBRE O LOCAL DO USUÁRIO -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.DispositivoESensores">
    <activity
      android:name=".ui.bluetooth.ListaDispBtPareadosActivity"
      android:label="Dispositivos Bluetooth Pareados"/>
    <activity
      android:name=".ui.sensores.act.ListaSensoresActivity"
      android:label="Lista de Sensores" />
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>